<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>EasyMechanic</title>
</head>

<body>

  {{>navbar}}

  {{!-- hero section start --}}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>WE BRING THE GARAGE</h1>
                    <h1>RIGHT AT YOUR HOME</h1>
                    <p>Unmatched Service at Unbeatable Prices <span class="bold-style">by EasyMechanic!!!👍</span></p>
                    <button class="btn-style btn-primary">Read more</button>
              </div>
              {{!-- right side --}}
              <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                  <figure>
                    <img src="img/b1.jpg" alt="herosection_image" id="img1">
                  </figure>
              </div>
          </div>
      </div>
    </div>
  </div>
  {{!-- hero section ends --}}


  {{!-- about us section start --}}
  {{>about}}
  {{!-- about us section ends --}}

  {{!-- service section start --}}
  {{>service}}
  {{!-- service section ends --}}

  {{!-- map section start --}}
  {{>maps}}
  {{!-- map section ends --}}

  {{!-- contact section start --}}
  {{>contact}}
  {{!-- contact section ends --}}

  {{!-- client section start --}}
  {{>client}}
  {{!-- client section ends --}}

  {{!-- footer section start --}}
  {{>footer}}
  {{!-- footer section ends --}}

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>