<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">your comfort is what our service is</p>
          <div class="row">
              <div class="col-md-6 col-12 hero-text">
                  <figure>
                    <img src="img/b2.jpg" alt="herosection_image" id="img2">
                  </figure>
              </div>
              {{!-- right side --}}
              <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-end flex-column">
                    <h1>India's fastest Growing</h1>
                    <h1>Doorstep Auto Services Company</h1>
                    <p>We <span class="bold-style">at EasyMechanic</span> provide auto services to our customers at the convenience of their home, office, or any other location which customer wants. Our trained, experienced, talented and passionated professionals provide the auto services at the doorstep of the customers.</p>
                    <button class="btn-style btn-primary">Read more</button>
              </div>
          </div>
      </div>
    </div>
  </div>