<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Find Us</h1>
          <p class="text-center sub-heading">we are near to you</p>
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7360.641426735882!2d75.8601737242904!3d22.716317940435733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd0e0e27bf47%3A0x917e50e7e31c46c7!2sSiyaganj%2C%20Indore%2C%20Madhya%20Pradesh%20452007!5e0!3m2!1sen!2sin!4v1622530672259!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>
 </div>
    </div>
  </div>
