<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">your comfort is what our service is</p>
            <div id="services">
                <div class="box">
                    <img src="img/2.png" alt="">
                    <h2 class="h-secondary center">Battery Jumpstart</h2>
                    <p class="center">24 hours on the spot & at your doorstep service for bikes & cars. We at EasyService is highly skilled and experienced in doing Car Battery Jumpstart Service & Bike Battery Jumpstart Service with utmost care and professionalism.It is recommended to get your vehicles jump started by a skilled professional during battery drained situations than trying self hacks. It is recommended to leave the vehicle ON for 40mins or drive for around 10-15KMs after a successful jumpstart.</p>
                </div>
                <div class="box">
                    <img src="img/1.png" alt="">
                    <h2 class="h-secondary center">Flat Tyre Repair</h2>
                    <p class="center">24 hours on the spot repairs for tube & tubeless tyres, valve pin issues, rim problems and tubes replacements for both bikes & cars. Flat tyre repair or Puncture repair is a key service in any roadside assistance service. Flat tyres generally happen due to punctures on the tubes or tyres because of nails or some sharp objects piercing it, valve pin issues, valve neck problems, rim bend problem etc. Flat tyre also occurs due to long halt of the vehicles.</p>
                </div>
                <div class="box">
                    <img src="img/3.png" alt="">
                    <h2 class="h-secondary center">On-spot Repairs</h2>
                    <p class="center">24 hours on the spot breakdown repair services for all kind of problems related to battery, electrical, cables replacement, fuses etc. Get instant on-the-spot support for breakdown & starting problem issues due to mechanical issues, electrical issues, spark plug problems, battery problems, fuse problems, wheel problems, cable problems, air locks, fuel tappet problems, chain link issues etc within 30-40 minutes for your Bikes & Cars from our experienced Car Mechanic & Bike Mechanic.</p>
                </div>
            </div>
            <div id="services">
                <div class="box">
                    <img src="img/4.png" alt="">
                    <h2 class="h-secondary center">Major Repairs</h2>
                    <p class="center">All kind of major repairs done for both bikes & cars through our partner network. A motor vehicle service or tune-up is a series of maintenance procedures carried out at a set time interval or after the vehicle has traveled a certain distance. The service intervals are specified by the vehicle manufacturer in a service schedule and some modern cars display the due date for the next service electronically on the instrument panel.</p>
                </div>
                <div class="box">
                    <img src="img/5.png" alt="">
                    <h2 class="h-secondary center">Key Unlock</h2>
                    <p class="center">Broken key, Lost keys? Do not worry, we help you move. Key locked out is one of the most common issue generally with the new users of a vehicle. A key unlock assistance is generally availed when the Car or Bike keys are lost, broken inside the keyhole or left inside the car. Whatever maybe the issue with keys, our highly experienced mechanics can help you unlock your vehicle with ease. Please get in touch with our support team to know our service availability before booking.</p>
                </div>
                <div class="box">
                    <img src="img/6.png" alt="">
                    <h2 class="h-secondary center">Towing Service</h2>
                    <p class="center">Bike flatbed towing, Car flatbed towing & Car lifting towing. EasyService is one among the very few roadside assistance provider with its own fleet of towing trucks providing Car Towing Service. Apart from the own fleet, We also have a large network of Car flatbed towing trucks including Zero degree Car Tow trucks.Our strong network enable us to ensure service highest availability and fastest reach time than many others in the market.</p>
                </div>
            </div>
        </div>
    </div>
</div>